<h1>Convert <%= @original_currency %></h1>
Go <a href = "/#{@original_currency}">back</a>.

<ul>
    <% @currencies_hash.each do |abbreviation, currency| %>
      <li>
        <a href = "/<%= @original_currency %>/<%= abbreviation %>">Convert <%= @original_currency %> to <%= abbreviation%>...</a>
      </li>
    <% end %>
</ul> %>
